html {
  margin: 0;
  padding: 0;
 

}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3,1fr);
  background-color: antiquewhite;

 
  
}
header{
  grid-column-end: 1;
  grid-column-end: 3;
}

h1{
  text-align: center;
}
.caja{
  grid-column-start: 3;
  align-self: end;
  justify-self:first baseline;
  margin-right: 15px;
  font-size: 40px;

}

canvas {
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 10px 10px 5px red;
  grid-column: 1/2;
  grid-column-start: 1;
  grid-column-end: -1;
}
h6{
  text-align: center;
}
/*aqui cambiamos de posicion el footer*/
footer{
  grid-row-start: 3;/*3*/
  grid-column-start: 1;
  grid-column-end: -1;
 
  
}